{% block content %}

<div class="l-container">

  <nav class="breadcrumbs">
    <ul class="breadcrumbs-list">
      <li>
        <a class="breadcrumbs-list-item" href="/products">Телефоны</a>
      </li><li>
        <a class="breadcrumbs-list-item" href="/products">Samsung</a>
      </li><li>
        <a class="breadcrumbs-list-item" href="#">Samsung Galaxy S5 SM-G900H 16GB Factory Unlocked International Version - WHITE</a>
      </li>

    </ul>
  </nav>

  <div class="box">
    <div class="box-content l-gutter">
      <header class="product-header">
        <div class="l-col d2-3">
          <h1 class="product-title">Samsung Galaxy S5 SM-G900H 16GB Factory Unlocked International Version - WHITE</h1>
        </div><div class="l-col d1-3">
          <div class="product-price">
            320 000
            <span class="product-price-currency">тенге</span>
          </div>
        </div>
      </header>

      {% include 'components/share-bar' %}

      <section class="product-body">
        <div class="l-col d1-6 c-text-c">
          <ul class="product-carousel-switcher">
            <li>
              <img class="product-preview" src="{{ 'preview-1.png' | asset_url }}" alt="" />
            </li>
            <li>
              <img class="product-preview" src="{{ 'preview-2.png' | asset_url }}" alt="" />
            </li>
            <li>
              <img class="product-preview" src="{{ 'preview-3.png' | asset_url }}" alt="" />
            </li>
          </ul>

        </div><div class="l-col d1-2 l-gutter c-text-c">

          {{ "product-2-big.png" | asset_url | image_tag }}

        </div><div class="l-col d1-3">

          <div class="star-progress">
            <span class="star">☆</span>
            <span class="star">☆</span>
            <span class="star">☆</span>
            <span class="star">☆</span>
            <span class="star">☆</span>
            <div class="star-progress-bar" style="width: 70%;">
              <span class="star">★</span>
              <span class="star">★</span>
              <span class="star">★</span>
              <span class="star">★</span>
              <span class="star">★</span>
            </div>
          </div>

          <a class="split-value c-text-s" href="#">
            34 отзыва
          </a>


          <br>
          <form>
            <div class="f-field">
              <label for="" class="f-label">Size</label>
              <label class="f-label f-label--select" for="">
                <select class="f-select">
                  <option value="">Black</option>
                </select>
              </label>
            </div>
            <div class="f-field">
              <label class="f-label" for="">Количество</label>
              <input class="f-input-text" type="number" value="1" />
            </div>
            <div class="f-field">
              <label class="f-label" for="">Рекомендуемый тариф</label>

              <div class="subscription-plan">
                <h4>Безлимитный</h4>
                <p class="caption">$10 per month, unlimited calls</p>
              </div>

              <p class="caption">
                <a href="#">Choose a different plan</a>
              </p>


            </div>
            <div class="f-field">
              <button class="btn btn--cta btn--fill">Добавить в корзину</button>
            </div>
          </form>
        </div>
      </section>


      <ul class="tabs">
        <li class="l-col d1-4 active">
          <a href="#description" data-toggle="tab">Описание</a>
        </li><li class="l-col d1-4">
          <a href="#techspecs" data-toggle="tab">Характеристики</a>
        </li><li class="l-col d1-4">
          <a href="#reviews" data-toggle="tab">Отзывы</a>
        </li><li class="l-col d1-4">
          <a href="#delivery" data-toggle="tab">Условия доставки</a>
        </li>
      </ul>

      <div class="tab-content">
        <div class="tab-pane active" id="description">
          <section class="product-description readable readable--left l-gutter">
            <h2 class="title-with-separator">Samsung Galaxy S5 SM-G900H 16GB Factory Unlocked International Version - WHITE</h2>
            <p>
              Network/Bearer Multi-SIM Single-SIM SIM size Micro-SIM (3FF) 2G GSM B8 (GSM 850MHz), B10 (E-GSM 900MHz), B13 (DCS 1,800MHz), B14 (PCS 1,900MHz) 3G UMTS B1 (IMT 2,100MHz), B2 (PCS 1,900MHz), B5 (US 850MHz Cellular), B8 (GSM 900MHz) Connectivity ANT+ Yes USB Version USB 3.0 Location Technology GPS, Glonass, Beidou Earjack 3.5mm Stereo MHL MHL 2.1 Wi-Fi 802.11a/b/g/n/ac 2.4G + 5GHz, VHT80 MIMO Wi-Fi Direct Yes DLNA Support No Bluetooth Version Bluetooth v4.0 Bluetooth Profiles DI, MAP, PBAP, HOGP, PAN, A2DP, AVRCP, HFP, HSP, OPP, SAP, HID Technology (Main Display) Super AMOLED Size (Main Display) 5.1" (129.4mm) Resolution (Main Display) 1920 x 1080 (FHD) Color Depth (Main Display) 16M S Pen Support No Processor CPU Speed 1.9GHz, 1.3GHz CPU Type Octa-Core Memory RAM Size (GB) 2GB ROM Size (GB) 16 External Memory Support MicroSD (up to 128GB) Camera Video Recording Resolution UHD 4K (3840 x 2160), @30fps Main Camera - Resolution CMOS, 16MP Front Camera - Resolution CMOS, 2MP Main Camera - Flash Yes Main Camera - Auto Focus Yes
            </p>
          </section>
        </div>
        <div class="tab-pane" id="techspecs">
          <section class="product-specification">
            <table class="rwd-table caption">
              <tbody>
                <tr>
                  <th>Ipsum Venenatis Magna</th>
                  <td data-th="Ipsum Venenatis Magna">Nullam quis risus eget urna mollis ornare vel eu leo.</td>
                </tr>
                <tr>
                  <th>Ipsum Venenatis Magna</th>
                  <td data-th="Ipsum Venenatis Magna">Nullam quis risus eget urna mollis ornare vel eu leo.</td>
                </tr>
                <tr>
                  <th>Ipsum Venenatis Magna</th>
                  <td data-th="Ipsum Venenatis Magna">Nullam quis risus eget urna mollis ornare vel eu leo.</td>
                </tr>
              </tbody>
            </table>
          </section>
        </div>
        <div class="tab-pane" id="reviews">
          <section class="product-reviews">
            <header class="product-reviews-header">
              <div class="l-col l-gutter l-middle">
                <button class="btn btn--cta btn--compact">Написать отзыв</button>
              </div><div class="l-col l-gutter l-middle">
                <div class="star-progress">
                  <span class="star">☆</span>
                  <span class="star">☆</span>
                  <span class="star">☆</span>
                  <span class="star">☆</span>
                  <span class="star">☆</span>
                  <div class="star-progress-bar" style="width: 70%;">
                    <span class="star">★</span>
                    <span class="star">★</span>
                    <span class="star">★</span>
                    <span class="star">★</span>
                    <span class="star">★</span>
                  </div>
                </div>
                (34 отзыва)

                <p class="caption">
                  3.5 out of 5 stars
                </p>
              </div>
            </header>

            <ul class="product-reviews-list">
              <li class="product-review">
                <header class="product-review-header">
                  <div class="product-review-author">
                    {{ "60x60" | placeholder | image_tag }}
                  </div>
                  <div class="product-review-meta">
                    Username
                    <span class="split-value">
                      12 января
                    </span>
                  </div>
                </header>
                <section class="product-review">
                  <div class="star-progress">
                    <span class="star">☆</span>
                    <span class="star">☆</span>
                    <span class="star">☆</span>
                    <span class="star">☆</span>
                    <span class="star">☆</span>
                    <div class="star-progress-bar" style="width: 80%;">
                      <span class="star">★</span>
                      <span class="star">★</span>
                      <span class="star">★</span>
                      <span class="star">★</span>
                      <span class="star">★</span>
                    </div>
                  </div>
                  <dl>
                    <dt>Достоинства</dt>
                      <dd>Aenean lacinia bibendum nulla sed consectetur.</dd>
                    <dt>Недостатки</dt>
                      <dd>Aenean lacinia bibendum nulla sed consectetur.</dd>
                    <dt>Комментарий</dt>
                      <dd>
                        <div class="readable readable--left">
                          <p>
                            Vestibulum id ligula porta felis euismod semper. Donec sed odio dui. Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Vestibulum id ligula porta felis euismod semper. Curabitur blandit tempus porttitor.
                          </p>
                        </div>
                      </dd>
                  </dl>
                </section>
              </li>
            </ul>
            <p><a href="#">Все отзывы</a></p>
          </section>
        </div>
        <div class="tab-pane" id="delivery"></div>
      </div>

      <section id="plans" class="product-plans">
        <h2>Get the right plan for you</h2>
        <table class="rwd-table caption">
          <thead>
            <tr>
              <th>
                Data
              </th>
              <th>
                Monthly cost
              </th>
              <th>
                Network speed
              </th>
              <th>
                Minutes / text
              </th>
              <th>
                Phone cost
              </th>
              <th>

              </th>
            </tr>
          </thead>
          <tbody>
            {% for i in (1..5) %}
            <tr {% if i == 3 %}class="highlight"{% endif %}>
              <td data-th="Data:">
                50 Gb
              </td>
              <td class="c-accent" data-th="Monthly cost:">
                74.99 T
              </td>
              <td data-th="Network speed:">
                4G
              </td>
              <td data-th="Minutes / text:">
                Unlimited / unlimited
              </td>
              <td class="c-accent" data-th="Phone cost:">
                9.99 T
              </td>
              <td class="rwd-table-no-th">
                <a href="#" class="btn btn--cta btn--compact">Continue</a>
              </td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </section>

      <h2>You may also like:</h2>
      <section class="product-similar">
      {% for i in (1..4) %}<div class="l-col d1-4">
        <div class="box box--ratio ratio-2-3">
          <div class="box-content">
            <div class="cover-media box-icon-phone product-box">
              <a href="/product" class="cover-media"></a>
              <h2 class="product-box-h">Porta Ligula</h2>
              <div class="product-box-price">12040 T</div>
              <div class="product-box-cta">
                <button class="btn btn--cta btn--compact">Выбрать тариф</button>
              </div>
            </div>
          </div>
        </div>
      </div>{% endfor %}
    </section>

<!--       <div class="dev-grid"></div> -->
    </div>

  </div>
</div>

{% endblock %}
