{% block content %}

<div class="l-container">

  <nav class="breadcrumbs">
    <ul class="breadcrumbs-list">
      <li>
        <a class="breadcrumbs-list-item" href="#">Телефоны</a>
      </li><li>
        <a class="breadcrumbs-list-item" href="#">Apple</a>
      </li><li>
        <a class="breadcrumbs-list-item" href="#">Apple iPhone 5c, White 16Gb (Unlocked)</a>
      </li>

    </ul>
  </nav>

  <div class="box">
    <div class="box-content l-gutter">
      <header class="product-header">
        <div class="l-col d2-3">
          <h1 class="product-title">Apple iPhone 5c, White 16Gb (Unlocked)</h1>
        </div><div class="l-col d1-3">
          <div class="product-price">
            320 000
            <span class="product-price-currency">тенге</span>
          </div>
        </div>
      </header>

      <section>
        <div class="l-col d1-6 c-text-c">
          <ul class="product-carousel-switcher">
            <li>
              <img class="product-preview" src="{{ 'preview-1.png' | asset_url }}" alt="" />
            </li>
            <li>
              <img class="product-preview" src="{{ 'preview-2.png' | asset_url }}" alt="" />
            </li>
            <li>
              <img class="product-preview" src="{{ 'preview-3.png' | asset_url }}" alt="" />
            </li>
          </ul>

        </div><div class="l-col d1-2 l-gutter c-text-c">

          {{ "product.png" | asset_url | image_tag }}

        </div><div class="l-col d1-3">

          <div class="star-progress">
            <span class="star">☆</span>
            <span class="star">☆</span>
            <span class="star">☆</span>
            <span class="star">☆</span>
            <span class="star">☆</span>
            <div class="star-progress-bar" style="width: 70%;">
              <span class="star">★</span>
              <span class="star">★</span>
              <span class="star">★</span>
              <span class="star">★</span>
              <span class="star">★</span>
            </div>
          </div>

          <a class="split-value c-text-s" href="#">
            34 отзыва
          </a>


          <br>
          <form>
            <div class="f-field">
              <label for="" class="f-label">Size</label>
              <label class="f-label f-label--select" for="">
                <select class="f-select">
                  <option value="">Black</option>
                </select>
              </label>
            </div>
            <div class="f-field">
              <label class="f-label" for="">Количество</label>
              <input class="f-input-text" type="number" value="1" />
            </div>
            <div class="f-field">
              <label class="f-label" for="">Рекомендуемый тариф</label>

              <div class="subscription-plan">
                <h4>Безлимитный</h4>
                <p class="caption">$10 per month, unlimited calls</p>
              </div>

              <a class="caption" href="#">Choose a different plan</a>

            </div>
            <div class="f-field">
              <button class="btn btn--cta btn--fill">Добавить в корзину</button>
            </div>
          </form>

          <a href="#" class="caption c-upper">Условия доставки</a>

        </div>
      </section>

      <section class="product-description">
        <div class="readable readable--left l-gutter">
          <h2 class="title-with-separator">Progress is a beautiful thing</h2>
          <p>
            iPhone 5 set a precedent. Apple engineers and designers managed to compress first-of-their-kind technologies inside a space that’s a mere 7.6 millimeters thin and 112 grams light. A feat like that required designing or redesigning multiple components. And it resulted in an incredibly thin, impressively light, extraordinarily powerful smartphone. After coming so far with iPhone 5, it was a perfect place to start with iPhone 5s. And while the engineering challenge was significant, we succeeded in adding more to it without making iPhone 5s bigger or heavier.
          </p>
        </div>
      </section>


      <section class="product-specification">
        <table class="rwd-table caption">
          <tbody>
            <tr>
              <th>Ipsum Venenatis Magna</th>
              <td data-th="Ipsum Venenatis Magna">Nullam quis risus eget urna mollis ornare vel eu leo.</td>
            </tr>
            <tr>
              <th>Ipsum Venenatis Magna</th>
              <td data-th="Ipsum Venenatis Magna">Nullam quis risus eget urna mollis ornare vel eu leo.</td>
            </tr>
            <tr>
              <th>Ipsum Venenatis Magna</th>
              <td data-th="Ipsum Venenatis Magna">Nullam quis risus eget urna mollis ornare vel eu leo.</td>
            </tr>
          </tbody>
        </table>
      </section>

      <section class="product-reviews">

        <header class="product-reviews-header">
          <div class="l-col">
            <div class="star-progress">
              <span class="star">☆</span>
              <span class="star">☆</span>
              <span class="star">☆</span>
              <span class="star">☆</span>
              <span class="star">☆</span>
              <div class="star-progress-bar" style="width: 70%;">
                <span class="star">★</span>
                <span class="star">★</span>
                <span class="star">★</span>
                <span class="star">★</span>
                <span class="star">★</span>
              </div>
            </div>
            (34 отзыва)

            <p class="caption">
              3.5 out of 5 stars
            </p>
          </div>


          <div class="split-value">
            Оцените товар:
            <div class="star-progress">
              <span class="star">☆</span>
              <span class="star">☆</span>
              <span class="star">☆</span>
              <span class="star">☆</span>
              <span class="star">☆</span>
            </div>
          </div>
        </header>

        <div class="l-col d2-3 l-middle">
          <h2 class="product-reviews-title">Отзывы о товаре</h2>
        </div><div class="l-col d1-3 c-text-r l-middle">
          <button class="btn btn--cta btn--no-trailer">Написать отзыв</button>
        </div>


        <ul class="product-reviews-list">
          <li class="product-review">
            <header class="product-review-header">
              <div class="product-review-author">
                {{ "60x60" | placeholder | image_tag }}
              </div>
              <div class="product-review-meta">
                Username
                <span class="split-value">
                  12 января
                </span>
              </div>
            </header>
            <section class="product-review">
              <div class="star-progress">
                <span class="star">☆</span>
                <span class="star">☆</span>
                <span class="star">☆</span>
                <span class="star">☆</span>
                <span class="star">☆</span>
                <div class="star-progress-bar" style="width: 80%;">
                  <span class="star">★</span>
                  <span class="star">★</span>
                  <span class="star">★</span>
                  <span class="star">★</span>
                  <span class="star">★</span>
                </div>
              </div>
              <dl>
                <dt>Достоинства</dt>
                  <dd>Aenean lacinia bibendum nulla sed consectetur.</dd>
                <dt>Недостатки</dt>
                  <dd>Aenean lacinia bibendum nulla sed consectetur.</dd>
                <dt>Комментарий</dt>
                  <dd>
                    <div class="readable readable--left">
                      <p>
                        Vestibulum id ligula porta felis euismod semper. Donec sed odio dui. Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Vestibulum id ligula porta felis euismod semper. Curabitur blandit tempus porttitor.
                      </p>
                    </div>
                  </dd>
              </dl>
            </section>
          </li>
        </ul>
        <p><a href="#">Все отзывы</a></p>
      </section>

    </div>
  </div>

</div>

{% endblock %}
